<div id="home">
    <dir-header></dir-header>

    <div class="inner-frame">
        <div>
            <div id="socials" class="fade-in fade-in-order-8">
                <span>SHARE</span>
                <span>|</span>

                <a href="https://plus.google.com/share?url=http://127.0.0.1/">
                    <img src="/img/icons/google.svg">
                </a>

                <a href="http://vk.com/share.php?url=http%3A//localhost%3A8080/&image=http://www.sunhome.ru/UsersGallery/Cards/prazdnik_den_zemli_kartinka.jpg">
                    <img src="/img/icons/vk.svg">
                </a>

                <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:8080/registration"
                   target="_blank">
                    <img src="/img/icons/facebook.svg">
                </a>
            </div>
            <div id="copyright" class="fade-in fade-in-order-8">
                <span>© FREE AGENT 2015</span>
            </div>
        </div>
    </div>

    <div class="title-group">
        <div>
            <div class="player fade-in fade-in-order-1" parallax-layer="3"></div>
            <div class="ball fade-in fade-in-order-2" parallax-layer="6"></div>
            <div>
                <p class="text-free fade-in fade-in-order-4" parallax-layer="2">FREE</p>

                <p class="text-agent fade-in fade-in-order-5" parallax-layer="5">AGENT</p>
            </div>
        </div>
    </div>

    <div class="net-group fade-in fade-in-order-3" parallax-layer="1">
        <div></div>
    </div>

    <div class="subtitle-group fade-in fade-in-order-6">
        <div>
            <div class="mobile-title">
                <span class="text-free">FREE</span>
                <span class="text-agent">AGENT</span>
            </div>
            <p>
                Free Agent: социальная сеть для поиска единомышленников в своем
                <br>
                виде спорта
            </p>

            <div>
                <a id="find" href="/search">НАЙТИ FREE AGENT</a>
                <a id="register" href="/registration" ng-hide="isLoggedIn">Я С ВАМИ!</a>
            </div>
        </div>
    </div>
    <table id="animation-helper">
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="middle"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

</div>
<!--<link rel="stylesheet" href="/css/home.css"/>-->
