<div id="home" class="view">
    <div>
        <div id="logo">
            <img src="/img/icon-logo.svg">
        </div>

        <div id="login">
            <img src="/img/icon-user.svg">
            <span>LOGIN</span>
        </div>

        <div id="socials">
            <span>SHARE</span>
            <span>|</span>
            <img src="/img/icon-google.svg">
            <img src="/img/icon-twitter.svg">
            <img src="/img/icon-facebook.svg">
        </div>

        <div id="copyright">
            <span>© FREE AGENT 2015</span>
        </div>
    </div>
</div>
<link rel="stylesheet" href="css/home.css"/>
<link rel="stylesheet" href="css/fonts.css"/>
