<div id="home">
    <div id="header">
        <a id="logo" href="/">
            <img src="/img/icon-logo.svg">
        </a>

        <a id="login" href="/login">
            <img src="/img/icon-user.svg">
            <span>LOGIN</span>
        </a>
    </div>

    <div class="inner-frame">
        <div>
            <div id="socials">
                <span>SHARE</span>
                <span>|</span>
                <a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost:8080/api/gglogin&response_type=code&client_id=984084695751-v075768i8b3torl2t0evijuj63t4sfrc.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile"><img
                        src="/img/icon-google.svg"></a>


                <img src="/img/icon-twitter.svg">
                <img src="/img/icon-facebook.svg">
            </div>

            <div id="copyright">
                <span>© FREE AGENT 2015</span>
            </div>
        </div>
    </div>

    <div class="title-group">
        <div>
            <div class="player" parallax-layer="3"></div>
            <div class="ball" parallax-layer="4"></div>
            <div>
                <p class="text-free" parallax-layer="2">FREE</p>
                <p class="text-agent" parallax-layer="6">AGENT</p>
            </div>
        </div>
    </div>

    <div class="subtitle-group">
        <div>
            <div class="mobile-title">
                <span class="text-free">FREE</span>
                <span class="text-agent">AGENT</span>
            </div>
            <p>
                Free Agent: социальная сеть для поиска единомышленников в своем
                <br>
                виде спорта
            </p>

            <div>

                <a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost:8080/api/gglogin&response_type=code&client_id=984084695751-v075768i8b3torl2t0evijuj63t4sfrc.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile"
                   title="Войти через Google">Войти через Google</a>
            </div>
        </div>
    </div>


</div>
<link rel="stylesheet" href="css/home.css"/>
