<div id="login">
    <dir-header></dir-header>

    <div class="form-wrapper">
        <form id="login-form" ng-submit="loginHandler()">
            <h1 class="page-header">LOGIN</h1>

            <div class="socials">
                <span>LOGIN WITH</span>

                <span>|</span>

                <a>
                    <img src="/img/icons/vk_dark.svg">
                </a>
                <a>
                    <img src="/img/icons/twitter_dark.svg">
                </a>
                <a>
                    <img src="/img/icons/facebook_dark.svg">
                </a>
            </div>

            <p class="subtitle">
                Введите, пожалуйста, данные необходимые для входа.
            </p>

            <dir-form-field field-config="fields.email"></dir-form-field>
            <dir-form-field field-config="fields.password"></dir-form-field>

            <!--<dir-form-field field-model="loginData.j_username"-->
                            <!--field-label="{{uiTranslations.placeholder_login}}"-->
                            <!--field-hint=""-->
                            <!--field-pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@([a-z0-9!#$%&'*+/=?^_`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])$"-->
                            <!--field-error="Некорректный адрес электронной почты.">-->
            <!--</dir-form-field>-->

            <!--<dir-form-field field-model="loginData.j_password"-->
                            <!--field-label="{{uiTranslations.placeholder_password}}"-->
                            <!--field-type="password"-->
                            <!--field-hint=""-->
                            <!--field-pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})"-->
                            <!--field-error="Цифры и буквы, длина 6-20 знаков, хотя бы одна цифра и заглавная буква.">-->
            <!--</dir-form-field>-->

            <!--<input ng-model="loginData.submit"-->
                   <!--name="submit"-->
                   <!--value="Login"-->
                   <!--type="hidden">-->

            <div class="error">{{error}}</div>

            <button class="btn primary">{{uiTranslations.button_login}}</button>

            <div class="row-wrapper login-links">

                <a class="link_forgot" href="/reset-password">{{uiTranslations.link_forgot}}</a>
                <a class="link_registration" href="/registration">{{uiTranslations.link_registration}}</a>

            </div>
        </form>
    </div>
</div>
