<div id="password-reset">
    <dir-header></dir-header>

    <div class="form-wrapper">
        <form id="login-form" ng-submit="">
            <h1 class="page-header">RESET PASSWORD</h1>

            <p class="subtitle">
                Введите ваш email чтобы получить на него новый пароль.
            </p>

            <dir-form-field field-model="loginData.j_password"
                            field-label="Email"
                            field-hint=""
                            field-pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@([a-z0-9!#$%&'*+/=?^_`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])$"
                            field-error="Некорректный адрес электронной почты.">
            </dir-form-field>

            <div class="error">{{error}}</div>

            <button class="btn primary">SUBMIT</button>
        </form>
    </div>
</div>
