<div id="password-reset">
    <dir-header></dir-header>

    <div class="form-wrapper">
        <form id="login-form" ng-submit="submit()">
            <h1 class="page-header">RESET PASSWORD</h1>

            <p class="subtitle">
                Введите ваш email чтобы получить на него новый пароль.
            </p>

            <dir-form-field field-config="fields.email"></dir-form-field>

            <div class="error">{{error}}</div>

            <button class="btn primary">SUBMIT</button>
        </form>
    </div>
</div>
