<div id="registration">
    <dir-header></dir-header>

    <div class="form-wrapper">
        <form id="reg-form" ng-submit="sumbitForm()">
            <h1 class="page-header">REGISTRATION</h1>

            <div class="socials">
                <span>REGISTER WITH</span>

                <span>|</span>

                <a>
                    <img src="/img/icons/vk_dark.svg">
                </a>
                <a>
                    <img src="/img/icons/twitter_dark.svg">
                </a>
                <a>
                    <img src="/img/icons/facebook_dark.svg">
                </a>
            </div>

            <p class="subtitle">
                Введите, пожалуйста, данные необходимые для регистрации.
            </p>

            <dir-form-field field-config="fields.name"></dir-form-field>
            <dir-form-field field-config="fields.email"></dir-form-field>

            <div class="row-wrapper">
                <dir-form-field field-config="fields.password"></dir-form-field>
                <dir-form-field field-config="fields.confirmPassword"></dir-form-field>
            </div>

            <button class="btn primary">SUBMIT</button>
        </form>
    </div>

</div>
