<div id="registration">
    <div id="header">
        <a id="logo" href="/" class="">
            <img src="/img/icon-logo.svg">
        </a>

        <a id="login" href="/login" class="">
            <img src="/img/icons/user_dark.svg">
            <span>LOGIN</span>
        </a>
    </div>

    <div id="form-wrapper">
        <form id="reg-form" ng-submit="registrationHandler()">
            <h1 class="page-header">REGISTRATION</h1>

            <div class="socials">
                <span>REGISTER WITH</span>

                <span>|</span>

                <a>
                    <img src="/img/icons/vk_dark.svg">
                </a>
                <a>
                    <img src="/img/icons/twitter_dark.svg">
                </a>
                <a>
                    <img src="/img/icons/facebook_dark.svg">
                </a>
            </div>

            <p class="subtitle">
                Введите, пожалуйста, данные необходимые для регистрации.
            </p>

            <dir-form-field field-model="form.firstName"
                            field-label="Name"
                            field-hint=""
                            field-pattern="^([a-z0-9_-]).{3,15}$"
                            field-error="Только цифры и буквы. Длина 3-15 знаков.">
            </dir-form-field>

            <dir-form-field field-model="form.email"
                            field-label="Email"
                            field-hint=""
                            field-pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@([a-z0-9!#$%&'*+/=?^_`{|}~-]+(\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])$"
                            field-error="Некорректный адрес электронной почты.">
            </dir-form-field>

            <div class="fields-row">
                <dir-form-field field-model="form.password"
                                field-label="Password"
                                field-type="password"
                                field-hint=""
                                field-pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20})"
                                field-error="Цифры и буквы, длина 6-20 знаков, хотя бы одна цифра и заглавная буква.">
                </dir-form-field>

                <dir-form-field field-model="passwordConfirm"
                                field-label="Password confirm"
                                field-type="password"
                                field-hint=""
                                field-pattern=""
                                field-error="Пароли должны совпадать"
                                field-validation="confPassValidation">
                </dir-form-field>
            </div>

            <button class="btn primary">SUBMIT</button>
        </form>
    </div>

</div>
<link rel="stylesheet" href="/css/registration.css"/>
