/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoTTF/Roboto-Light.ttf");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoTTF/Roboto-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoTTF/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "norwester";
    src: url("../fonts/norwester/norwester.eot");
    src: url("../fonts/norwester/norwester.eot#iefix") format("embedded-opentype"),
    url("../fonts/norwester/norwester.woff") format("woff"),
    url("../fonts/norwester/norwester.ttf") format("truetype"),
    url("../fonts/norwester/norwester.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
