.form-wrapper {
    padding: 45px;
    border: 1px lightgray solid;
    border-radius: 6px;
    width: 100%;
    max-width: 465px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 60px;
}

.form-wrapper h1.page-header {
    color: #fa2044;
    font-family: norwester;
    font-size: 2.25em;
    line-height: 0.85em;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 45px;
}

.form-wrapper p.subtitle {
    color: #999999;
    font-size: 0.8em;
    letter-spacing: initial;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}

.form-wrapper .socials {
    cursor: default;
    color: black;
    overflow: hidden;
    text-align: center;
    margin-bottom: 45px;
}

.form-wrapper .socials > * {
    vertical-align: middle;
    margin-right: 16px;
    line-height: 1;
}

.form-wrapper .socials > a {
    cursor: pointer;
    transition: all linear 0.2s;
    display: inline-block;
}

.form-wrapper .socials > a > img {
    height: 1em;
}

.form-wrapper .socials > a:hover {
    opacity: 0.5;
}

.form-wrapper .row-wrapper {
    display: table;
}

.form-wrapper .row-wrapper > * {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.form-wrapper button.btn.primary {
    display: block;
    margin: auto;
    margin-top: 25px;
}

@media (max-width: 1366px) {
    .form-wrapper {
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    .form-wrapper {
        padding: 15px;
        border: none;
        margin-top: 0px;
        max-width: 320px;
        height: 100%;
        display: table;
    }
    
    .form-wrapper > * {
        display: table-cell;
        vertical-align: middle;
    }

    .form-wrapper h1.page-header {
        margin-bottom: 25px
    }  
    
    #registration .form-wrapper .row-wrapper {
        display: block;
    }

    #registration .form-wrapper .row-wrapper > * {
        display:block;
        width: 100%;
    }

    .form-wrapper button.btn.primary {
        width: 100%;
    }

    .form-wrapper p.subtitle {
        display: none;
    }

    #header {
        position:absolute;
    }
}

@media (max-height: 767px) {
    #header {
        position:static;
    }

    .form-wrapper #reg-form {
        display: table-cell;
        vertical-align: top;
    }

    .form-wrapper {
        margin-top: 30px;
        height: initial;
    }
}