#header {
    background-color: #484848;
    height: 82px;
    color: white;
    border-bottom: 3px solid #00A99D;
    margin-bottom: -85px;
    position: relative;
    z-index: 1;
}

#header a {
    color: white;
}

#header .main-wrapper {
    height: 100%;
    padding: 0px 20px;
}

#header .main-wrapper > * {
    background-color: transparent;
}

#header .links-wrapper {
    height: 100%;
    float: right;
}

#header .logo-wrapper {
    height: 100%;
    float: left;
}

#header .profile-link {
    margin-right: 50px;
}

#header .userpic {
    height: 50px;
    margin-right: 15px;
}

