#home {
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

#home > div {
    background-color: #181b1f;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

#home span {
    color: white;
    font-family: RobotoLight;
    font-size: 1em;
}

#home #logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

#home #logo > img {
    height: 60px;
}

#home #login {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#home #login > * {
    vertical-align: middle;
}

#home #login > img {
    height: 17px;
}

#home #login > span {
    color: white;
    font-family: RobotoLight;
}

#home #socials {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#home #socials > img {
    height: 18px;
    margin-right: 10px;
}

#home #socials > span {
    margin-right: 10px;
}

#home #copyright {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#img-player,
#img-ball {
    top: -2.5%;
    height: 105%;
}



#main {
    height: 100%;
    display: inline-block;
}

#main > div {
    position: relative;
    height: 100%;
}

#main span {
    font-family: norwester;
    font-size: 7.5em;
    position: absolute;
}

#main span#text-free {
    color: #fa2044;
}

#img-player {
    position: relative;
}

#img-ball {
    position: absolute;
    left: 0px;
}