body {
    overflow: hidden;
}

#home {
    background-color: white;
    overflow: hidden;
}

span {
    color: white;
    font-family: RobotoLight;
    font-size: 1em;
}

#header {
    position: absolute;
    padding: 60px 60px 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
}

#logo > img {
    height: 60px;
}

#login {
    float: right;
}

#login > * {
    vertical-align: middle;
}

#login > img {
    height: 17px;
}

#login > span {
    color: white;
    font-family: RobotoLight;
}

#socials {
    position: absolute;
    bottom: 60px;
    left: 60px;
}

#socials > img {
    height: 18px;
    margin-right: 10px;
}

#socials > span {
    margin-right: 10px;
}

#copyright {
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.inner-frame,
.title-group {
    width: 100%;
    height: 100%;
    position: absolute;
}

.inner-frame > div {
    background-color: #181b1f;
    width: 100%;
    height: 100%;
}

.inner-frame {
    padding: 30px;
    box-sizing: border-box;
}

.title-group {
    height: 100%;
    text-align: center;
    padding-right: 10%;
    box-sizing: border-box;
}

.title-group > div {
    position: relative;
    height: 97%;
    width: 100%;
    top: 1.5%;
}

.title-group > div > div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-group > div > div.player {
    background-image: url(/img/home/football_player.png);
    z-index: 1;
}

.title-group > div > div.ball {
    background-image: url(/img/home/ball.png);
    z-index: 1;
}

#img-player {
    z-index: 1;
    position: relative;
}

#img-player,
#img-ball {
    display: block;
    min-height: 100%;
    height: 100%;
    width: auto;
}

.title-group p#text-free,
.title-group p#text-agent {
    font-family: norwester;
    font-size: 13.5vh;
    margin: 0px;
    text-align: center;
    position: relative;
}

.title-group p#text-free {
    color: #fa2044;
    top: 33%;
    left: -17vh;
    z-index: 0;
}

.title-group p#text-agent {
    color: white;
    top: 30%;
    left: 1vh;
    z-index: 2;
}

.subtitle-group {
    text-align: center;
    position: relative;
    z-index: 3;
    top: 63%;
    color: white;
    font-family: RobotoMedium;
}

.subtitle-group a {
    margin: 10px;
    padding: 20px 63px;
    border-radius: 30px;
    font-family: RobotoMedium;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.subtitle-group #find {
    background-color: #353d48;
}

.subtitle-group #register {
    background-color: #2272b5;
}

.subtitle-group p {
    font-size: 1.2em;
}

.subtitle-group > div {
    display: inline-block;
    margin-right: 8%;
}

[parallax-layer].paralax-transition {
    transition: transform 0.2s linear 0s;
    -webkit-transition: transform 0.2s linear 0s;
    -moz-transition: transform 0.2s linear 0s;
}