#login{
    background: url(/img/grid_white.png) #dee5ed center no-repeat;
    background-size: 98%;
}

#login .login-links {
    margin-top: 45px;
    width: 100%;
}

#login .login-links a {
    color: #139cb5;
    font-size: 0.75em;
    font-family: RobotoMedium;
    letter-spacing: normal;
}

#login .login-links > a:last-child {
    text-align:right;
}

@media (max-width: 1024px){
    #login{
        background-size: cover;
    }
}