#login .login-links {
    margin-top: 45px;
    width: 100%;
}

#login .login-links a {
    color: #139cb5;
    font-size: 0.75em;
    font-family: RobotoMedium;
    letter-spacing: normal;
}

#login .login-links > a:last-child {
    text-align:right;
}