html,
body,
.view,
.view > div {
    height: 100%;
}

@media (max-height: 481px) or (max-width: 321px) {
    html,
    body,
    .view {
        min-width: 320px;
        min-height: 480px;
    }
}



body {
    font-family: RobotoLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    letter-spacing: 0.1em;
    margin: 0px;
    position: relative;
    min-height: 100%;
    background-image: url(/img/hex_loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

a > img {
    display: block;
}

span {
    color: black;
    font-family: RobotoLight;
    font-size: 1em;
    display: inline-block;
    letter-spacing: 0.1em;
}

img[src*=".svg"] {
    height: 100%;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.view {
    position:relative;
    background-color: white;
}

.valign-container {
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

.valign-container > *,
.valign-container::after,
.valign-container::before {
    display: inline-block;
    vertical-align: middle;
}

.valign-container > * {
    white-space: normal;
}

.valign-container::after,
.valign-container::before {
    content: '';
    height: 100%;
}

.btn {
    font-size: 0.9375em;
    line-height: 1;
    padding: 1em 3em;
    border-radius: 30px;
    font-family: RobotoMedium;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: all linear 0.2s;
    outline: none;
    box-sizing: border-box;
    background-color: #353d48;
    border: 2px solid #353d48;
}

.btn:active,
.btn:hover {
    background-color: #3c4551;
    border: 2px solid #424b57;
}

.btn.primary {
    background-color: #139cb5;
    border: 2px solid #139cb5;
}

.btn.primary:active,
.btn.primary:hover {
    background-color: #17a7c1;
    border: 2px solid #29b6cf;
}
