#registration .row-wrapper .form-field:first-child {
    padding-right: 3%;
}

#registration .row-wrapper .form-field:last-child {
    padding-left: 3%;
}

#registration button.btn.primary {
    display: block;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    #registration .row-wrapper .form-field:first-child {
        padding-right: 0%;
    }

    #registration .row-wrapper .form-field:last-child {
        padding-left: 0%;
    }

    #registration button.btn.primary {
        margin-top: 45px;
    }
}
