<div id="registration" class="main-container">
    <div>
        <link rel="stylesheet" href="css/registration.css"/>
        <h2>Edit profile info</h2>
        <div>
            <form  ng-submit="registrationHandler()">
                <p class="error">{{ error }}</p>
                <input
                        placeholder="{{uiTranslations.placeholder_first_name}}"
                        name="firstName"
                        id="firstNameInput"
                        ng-model="formData.firstName"/>
                <input
                        placeholder="{{uiTranslations.placeholder_last_name}}"
                        name="lastName"
                        id="lastNameInput"
                        ng-model="formData.lastName"/>
                <input
                        placeholder="{{uiTranslations.placeholder_city}}"
                        name="city"
                        id="cityInput"
                        ng-model="formData.city"/>
                <input
                        placeholder="{{uiTranslations.placeholder_date_of_birth}}"
                        name="dateOfBirth"
                        id="dateOfBirthInput"
                        ng-model="formData.dateOfBirth"/>
                <input
                        placeholder="{{uiTranslations.placeholder_phone_number}}"
                        name="phone"
                        id="phoneInput"
                        ng-model="formData.phone"/>
                <input
                        placeholder="{{uiTranslations.placeholder_description}}"
                        name="description"
                        id="descriptionInput"
                        ng-model="formData.description"/>
                <input
                        placeholder="{{uiTranslations.placeholder_gender}}"
                        name="gender"
                        id="genderInput"
                        ng-model="formData.gender"/>
                <!--here we should select sports-->
                <button>{{uiTranslations.button_register}}</button>
            </form>
        </div>
    </div>
</div>