#header {
    padding: 60px 60px 0px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

#header #logo > img:hover {
    opacity: 0.8;
}

#header #logo > img {
    height: 48px;
    transition: opacity linear 0.2s;
}

#header .link {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

#header .link > * {
    vertical-align: baseline;
}

#header .link .icon {
    height: 1em;
    width: 1em;
    display: inline-block;
    background-image: url(/img/icons/user_dark.svg);
    background-repeat: no-repeat;
    margin-right: 7px;
}

#header .link > span {
    color: black;
    font-family: RobotoLight;
}

#header .link > span:after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background-color: #fa2044;
    transition: width 0.1s linear 0.1s;
    width: 0%;
}

#header .link:hover > span:after,
#header .link:active > span:after {
    width: 100%;
}

@media (max-width: 1366px) {
    #header {
        padding: 40px 40px 0px;
    }
}

@media (max-width: 1024px) {
    #header {
        padding: 20px 15px 0px;
        font-size: 1em;
    }

    #header #logo > img {
        height: 38px
    }

    #header .link .icon {
        height: 1em;
    }
}

@media (max-width: 320px) {

}
