<div id="registration" class="main-container">
    <div>
        <link rel="stylesheet" href="css/registration.css"/>
        <div>
            <div class="header">
                {{uiTranslations.header_main}}
            </div>
            <div class="socials">
                <div class="fb">
                    <img src="img/f.png">
                    <p>{{uiTranslations.text_facebook}}</p>
                </div>
                <div class="vk">
                    <img src="img/v.png">
                    <p>{{uiTranslations.text_vk}}</p>
                </div>
            </div>
            <div class="info">
                Or create a new one with your usernae and email.
            </div>
        </div>
        <div>
            <!--action="user" modelAttribute="userDto" method="post"-->
            <form  ng-submit="registrationHandler()">
                <input
                        placeholder="{{uiTranslations.placeholder_login}}"
                        name="login"
                        id="loginInput"
                        ng-model="registrationData.login"/>
                <input
                        placeholder="{{uiTranslations.placeholder_password}}"
                        name="password"
                        id="passwordInput"
                        ng-model="registrationData.password"/>
                <input
                        placeholder="{{uiTranslations.placeholder_email}}"
                        name="email"
                        id="emailInput"
                        ng-model="registrationData.email"/>
                <input
                        placeholder="{{uiTranslations.placeholder_first_name}}"
                        name="firstName"
                        id="firstNameInput"
                        ng-model="registrationData.firstName"/>
                <input
                        placeholder="{{uiTranslations.placeholder_last_name}}"
                        name="lastName"
                        id="lastNameInput"
                        ng-model="registrationData.lastName"/>
                <input
                        placeholder="{{uiTranslations.placeholder_city}}"
                        name="city"
                        id="cityInput"
                        ng-model="registrationData.city"/>
                <input
                        placeholder="{{uiTranslations.placeholder_date_of_birth}}"
                        name="dateOfBirth"
                        id="dateOfBirthInput"
                        ng-model="registrationData.dateOfBirth"/>
                <input
                        placeholder="{{uiTranslations.placeholder_phone_number}}"
                        name="phone"
                        id="phoneInput"
                        ng-model="registrationData.phone"/>
                <input
                        placeholder="{{uiTranslations.placeholder_description}}"
                        name="description"
                        id="descriptionInput"
                        ng-model="registrationData.description"/>
                <!--here we should select sports-->
                <button>{{uiTranslations.button_register}}</button>
            </form>
        </div>
    </div>
</div>