<div class="datepicker">
    <div class="field"></div>
    <div class="calendar">
        <div class="nav">
            <div class="prev" ng-click="changeMonth(monthNum - 1)">
                <img src="/img/datepicker/arrow-left.png">
            </div>
            <div class="curr">
                {{ month[0][1].date | date :'MMM' }} {{ month[0][1].date | date :'yyyy' }}
            </div>
            <div class="next" ng-click="changeMonth(monthNum + 1)">
                <img src="/img/datepicker/arrow-right.png">
            </div>
            <div class="legend">Всегда по</div>
        </div>
        <div class="month">
            <div class="col"
                 ng-repeat="weekDays in month track by $index"
                 ng-class="{'selected': weekDays[0].date.weekPicked}">
                <div class="row weekday"
                     ng-click="pickWeek(weekDays)">
                    <div>
                        <div>
                            <div class="valing-wrapper">
                                {{ weekDays[0].date | date :'EEE'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"
                     ng-class="{'selected': day.dayPicked, 'wrong-month': day.wrongMonth}"
                     ng-repeat="day in weekDays track by $index"
                     ng-click="pickDay(day)">
                    <div>
                        <div>
                            <div class="valing-wrapper">

                                {{ day.date && day.date.getDate() || ''}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>