<div class="datepicker">
    <div class="field"></div>
    <div class="calendar">
        <div class="nav">
            <div class="prev" ng-click="changeMonth(monthNum - 1)">
                <img src="/img/datepicker/arrow-left.png">
            </div>
            <div class="curr">
                {{ month[0][1].date | date :'MMM' }}, {{ month[0][1].date | date :'yyyy' }}
            </div>
            <div class="next" ng-click="changeMonth(monthNum + 1)">
                <img src="/img/datepicker/arrow-right.png">
            </div>
        </div>
        <div class="month">
            <div class="col" ng-repeat="weekDays in month track by $index">
                <div class="row weekday">
                    <div>
                        <div>
                            <div class="valing-wrapper">
                                {{ weekDays[0].date | date :'EEE'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"
                     ng-repeat="day in weekDays track by $index">
                    <div>
                        <div>
                            <div class="valing-wrapper"
                                 ng-class="{'wrong-month': day.wrongMonth}">

                                {{ day.date && day.date.getDate() || ''}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>