<div id="login-link" class="main-container">
    <link rel="stylesheet" href="css/login.css"/>
    <div>
        <div class="container">
            <form id="form_login" ng-submit="loginHandler()">
                <input placeholder="{{uiTranslations.placeholder_login}}"
                       ng-model="loginData.username"
                       type="text"
                       name="username"
                       size="30"
                       maxlength="40"/>

                <div class="line"></div>
                <input placeholder="{{uiTranslations.placeholder_password}}"
                       ng-model="loginData.password"
                       type="password"
                       name="password"
                       size="30"
                       maxlength="32"/>

                <input ng-model="loginData.submit"
                        name="submit"
                        value="Login"
                        type="hidden">

                <div class="error">{{error}}</div>

                <button id="btn_login">{{uiTranslations.button_login}}</button>
            </form>
            <div class="socials">
                <a><img src="img/f.png"></a>
                <a><img src="img/g.png"></a>
                <a><img src="img/v.png"></a>
            </div>

            <a class="link_forgot">{{uiTranslations.link_forgot}}</a>
            <a class="link_registration" href="/registration">{{uiTranslations.link_registration}}</a>
        </div>
    </div>
</div>