<div class="main-container">
    <link rel="stylesheet" href="css/profile.css"/>
    <div id="profile">
        <div>
            <img class="userpic" ng-src="{{ userPicUrl }}">

            <a href="/dialogs">Show my messages</a>
            <br>
            <br>

            <!--<dir-datepicker config="datePickerData"></dir-datepicker>-->
            <br>
            <br>

            <h1>Profile data</h1>
            <a href="/edit">Edit</a>
            <br>
            <br>
            <table>
                <tbody>
                <tr ng-repeat="(key, value) in userInfo">
                    <td>{{ key }}</td>
                    <td ng-hide="key !== 'dateOfRegistration' && key !== 'dateOfBirth'">{{ value | date }}</td>
                    <td ng-show="key !== 'dateOfRegistration' && key !== 'dateOfBirth'">{{ value }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            <h1>Uppload new profile image</h1>
            <div>
                <form id="userpic" ng-submit="uploadImage()">
                    <input type="file" name="file" ng-model="imageInput">
                    <br>
                    <input type="submit">
                </form>
            </div>

        </div>
    </div>
</div>