.form-field {
    padding-top: 1.5em;
    position: relative;
    margin: 5px 0;
    height: 3em;
    overflow: hidden;
}

.form-field input {
    height: 1em;
    padding: 0px;
    padding-bottom: 0.2em;
    font-size: 1em;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px #cccccc solid;
}

.form-field input:focus {
    outline: none;
}

.form-field label {
    color: #787878;
    position: absolute;
    top: 1.5em;
    transition:
    font-size 0.1s linear,
    top 0.1s linear;
    display: block;
}

.form-field.focused label,
.form-field.not-empty label {
    top: 0%;
    /*font-size:75%;*/
}

.form-field > * {
    display: block;
    width: 100%;
}

.form-field .underline {
    position: relative;
    background-color: #fa2044;
    height: 1px;
    margin-bottom: -1px;
    top:-1px;
    z-index:1;
    width: 0px;
    transition: width 0.2s linear;
}

.form-field.focused .underline {
    width: 100%;
}

.form-field .error {
    padding-top: 0.25em;
    display: table;
    visibility: hidden;
}

.form-field.invalid.changed .error {
    visibility: visible;
}

.form-field .error > * {
    display:table-cell;
}

.form-field .error > * > * {
    vertical-align: top;
}

.form-field .error .icon {
    width: 20px
}

.form-field .error img {
    height: 12px;
}

.form-field .error span {
    font-family: Roboto;
    font-size: .625em;
    line-height: 1.2;
    color: #fa2044;
    display: inline-table;
}


.form-field .hint,
.form-field.invalid .hint {
    display: block;
    font-family: Roboto;
    font-size: .625em;

    visibility: hidden;
}

.form-field.focused .hint {
    visibility: visible;
}