<div class="main-container">
    <div class="content">
        <form id="search_users" ng-submit="searchUsersHandler()">
            <input ng-model="searchParams.sport"
                    type="text"
                    name="sport"
                    id="sport"
                    placeholder="sport">

            <input ng-model="searchParams.firstName"
                    type="text"
                    name="firstName"
                    id="firstName"
                    placeholder="firstName">

            <input ng-model="searchParams.lastName"
                    type="text"
                    name="lastName"
                    id="lastName"
                    placeholder="lastName">

            <input ng-model="searchParams.dateOfBirthFrom"
                    type="text"
                    name="dateOfBirthFrom"
                    id="dateOfBirthFrom"
                    placeholder="dateOfBirthFrom">

            <input ng-model="searchParams.dateOfBirthTo"
                    type="text"
                    name="dateOfBirthTo"
                    id="dateOfBirthTo"
                    placeholder="dateOfBirthTo">
            <input
                    type="submit" value="Submit"/>
        </form>
        <div id="search_results">
            <div ng-repeat="user in searchResults">
                <table>
                    <tbody>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr ng-repeat="(key, value) in user">
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    <tr>
                        <a href="{{ '#/user/' + user.id }}">
                            Show user
                        </a>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>