<div class="main-container">
    <style>
        #search .content {
            padding: 30px;
        }
    </style>
    <div id="search">
        <div class="content">
            <form id="search_users" ng-submit="searchUsersHandler()">
                <input ng-model="searchParams.sport"
                       type="text"
                       name="sport"
                       id="sport"
                       placeholder="sport">
                <br>

                <input ng-model="searchParams.firstName"
                       type="text"
                       name="firstName"
                       id="firstName"
                       placeholder="firstName">
                <br>

                <input ng-model="searchParams.lastName"
                       type="text"
                       name="lastName"
                       id="lastName"
                       placeholder="lastName">
                <br>

                <input ng-model="searchParams.dateOfBirthFrom"
                       type="text"
                       name="dateOfBirthFrom"
                       id="dateOfBirthFrom"
                       placeholder="dateOfBirthFrom">
                <br>

                <input ng-model="searchParams.dateOfBirthTo"
                       type="text"
                       name="dateOfBirthTo"
                       id="dateOfBirthTo"
                       placeholder="dateOfBirthTo">
                <br>

                <input
                        type="submit" value="Submit"/>
                <br>
            </form>
            <div id="search_results">
                <div ng-repeat="user in searchResults">
                    <div>
                        <br>
                        <br>
                        {{ user.login }}
                        <br>
                        <a href="{{ '#/user/' + user.id }}">
                            Show user
                        </a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>