<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:annotation-config/>
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <import resource="classpath*:free-agent-dao-context.xml"/>
    <import resource="classpath*:free-agent-services-context.xml"/>
    <import resource="free-agent-security-context.xml"/>
    <context:component-scan base-package="com.free.agent">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder location="classpath:networks/*.properties"/>

    <cache:annotation-driven/>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" p:cacheManager-ref="ehcache"/>
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="classpath:ehcache.xml" p:shared="true"/>

    <bean id="vk" class="com.free.agent.SocialNetworkProperty">
        <constructor-arg name="client_id" value="${vk.client.id}"/>
        <constructor-arg name="client_secret" value="${vk.client.secret}"/>
        <constructor-arg name="profile_url" value="${vk.profile.url}"/>
        <constructor-arg name="token_url" value="${vk.token.url}"/>
    </bean>

    <bean id="facebook" class="com.free.agent.SocialNetworkProperty">
        <constructor-arg name="client_id" value="${facebook.client.id}"/>
        <constructor-arg name="client_secret" value="${facebook.client.secret}"/>
        <constructor-arg name="profile_url" value="${facebook.profile.url}"/>
        <constructor-arg name="token_url" value="${facebook.token.url}"/>
    </bean>

    <bean id="google" class="com.free.agent.SocialNetworkProperty">
        <constructor-arg name="client_id" value="${google.client.id}"/>
        <constructor-arg name="client_secret" value="${google.client.secret}"/>
        <constructor-arg name="profile_url" value="${google.profile.url}"/>
        <constructor-arg name="token_url" value="${google.token.url}"/>
    </bean>

</beans>
