<div id="login" class="main-container">
    <style>
        #admin .container {
            padding: 30px;
        }
    </style>
    <div id="admin">
        <div class="container">
            <h2>Add new sport</h2>
            <form method="post" ng-submit="submitHandler()">
                <label></label>
                <input type="text" name="name" ng-model="formData.name" size="30" maxlength="40"/>
                <br>
                <br>
                <input type="submit" value="Add Sport"/>
            </form>
            <br>
            <h2>Existing sports</h2>
            <div ng-repeat="sport in sports">
                <p>{{ sport }}</p>
            </div>
        </div>
    </div>
</div>